<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="small pull-right">
          <%= check_box_tag "email_reminder", "toggle", current_user.email_reminder %>
           Email reminders
          &nbsp; &middot; &nbsp;
          <!-- Note that you must include jquery_ujs in your 
          app/assets/javascripts/application.js for this to work! -->
          <%= link_to "Delete account", destroy_user_path, :method => :delete, :class => "link" %>
        </div>
      </div>
    </div>
  </div>
</div>