<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="nav-btns">
        <div class="btn nav small">
          <%= link_to "Write", write_path %>
        </div><!-- Inline block hack
     --><div class="btn nav small">
          <%= link_to "Logout", destroy_user_session_path %>
        </div>
      </div>
      <h1>Your story</h1>
      <br>
      <% @posts.each do |post| %>
        <%= render partial: 'post', locals: {post: post} %>
      <% end %>
      <% if @posts.length == 0 %>
        <p>Start your story on the <%= link_to "write", write_path %> page</p>
      <% end %>
  </div>
</div>