<div class="container padding">
  <div class="row main-row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Gratuitous <br>Moments</h1>
      <br>
      <p class="big">
        Note the moments that <br>make you feel good, every day.
      </p>
      <br>
      <br>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
            <div class="sign-up btn">
              Log in with Google
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>