<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="nav-btns">
        <div class="btn nav small">
          <%= link_to "Your story", history_path %>
        </div><!-- Inline block hack
     --><div class="btn nav small">
          <%= link_to "Logout", destroy_user_session_path %>
        </div>
      </div>
      <h1>Write</h1>
      <br>
      <p>
        <em><%= Date.today.strftime("%A, %B %-d, %Y") %>:</em>
      </p>
      <br>
      <%= form_tag "/post", method: "post" do %>
        <textarea name="text" required placeholder="Today, I had a good moment, or just some thoughts..."></textarea>
        <input type="submit" value="Submit" class="btn">
      <% end %>
    </div>
  </div>
</div>