<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link href='http://fonts.googleapis.com/css?family=Lora:400' rel='stylesheet' type='text/css'>
</head>
<body style="width: 100%; margin: 0 !important; background-color: #fffcf3; font-family: 'Lora', serif; font-size: 16px; padding: 20px;">
  <p>
    Make sure to 
    <a href="http://goodmoments.herokuapp.com/write">note</a>
    your good moments today.
  </p>
  <p>
    <3
  </p>
</body>
</html>
