/* Overarching styles */
$black: #342211;
$dark-grey: #444;
$grey: #777;
$light-grey: #aaa;
$paper: #fffcf3;
body {
  font-size: 16px;
  line-height: 1.3;
  font-family: "Lora" serif;
  color: $black;
  margin: 0; padding: 0;
  background-color: $paper;
}

.padding {
  padding: 30px 0;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
.link {
  color: $grey;
  &:hover {
    color: $dark-grey;
    text-decoration: underline;
  }
  transition: all 0.2s;
}

.big { font-size: 120%; }
.small { font-size: 80%; }

.main-row {
  text-align: center;
}

.moment-element {
  color: $grey;
  border: 1pt solid $light-grey;
  border-radius: 2px;
  background-color: transparent;
  transition: color 0.2s;
  &:hover {
    color: $black;
  }
}

.nav-btns {
  float: right;
}

.btn {
  @extend .moment-element;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  &.small {
    padding: 7px;
  }
  &.nav {
    &:first-child {
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

textarea {
  @extend .moment-element;
  display: block;
  outline: none;
  width: 100%;
  min-height: 400px;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.5;
  border: 1pt solid #eee;
  &:hover {
    border: 1pt solid #aaa;
  }
}

hr {
  margin: 50px 0 40px;
  border-top: 1px solid $light-grey;
}

.post-body {
  p {
    margin-bottom: 10px;
  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0; left: 0;
  z-index: 1;
  background-color: $paper;
  border-top: 1pt solid #eee;
  padding: 10px 0;
}